html, body {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
}

.main-box {
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    padding: 2rem 0;
    width: min-content;
    margin: auto;
    height: 100%;
}

.round-indicator {
    font-size: 5rem;
}

.time-indicator {    
    font-size: 9rem;
    width: 22rem;
    text-align: left;
}

.session-records {
    display: flex;
    max-width: fit-content;
    margin: 2rem 0 0 1.2rem;
    font-size: 2rem;
}

.session-result {
    margin: 1.5rem auto;
    max-width: fit-content;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    padding: 0.6rem 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.session-result > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.session-result > div > div:first-child {
    margin-right: 1rem;
}

.session-records-left {
    margin-right: 1rem;
}

button {
    width: 10rem;
    height: 5rem;
    cursor: pointer;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3rem;
}

.session-btns {
    display: flex;
    justify-content: space-evenly;
}

.round-record {
    display: flex;
    justify-content: flex-end;
}

.round-number {
    width: 3rem;
    margin-right: 0.6rem;
    text-align: right;
}
